
#logo{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.logo{
    background-color: white;
}
header{
    background-color: white;
}
#tabs a{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
#tabs{
    background-color: black;
    padding: 40px;
    
}
button{
    color: white;
    font-size: 25px;
    background-color: black;

}
#sale{
    padding-left: 100px;
    padding-top: 150px;
    float: center;
}
#sale b{
    font-size: 50px;
}
#image{
    float:right;
    padding-right: 100px;
}

