
#logo{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.logo{
    background-color: white;
}
header{
    background-color: white;
}
#tabs a{
    padding-right: 20px;
    color: white;
    text-align: center;
    padding-left: 50px;
    font-size: 15px;
}
#tabs{
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}
